<section class="ep__shop--by--cateorie__sec">
  <div class="ep__sec-padding-container">
    <ul>

      {%- for block in section.blocks -%}
        {%- if block.type == "shop_categories" -%}


        {%- endif -%}

      {%- endfor -%}
    </ul>
  </div>
</section>